<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="horizontal" data-nav-style="menu-click" data-menu-position="fixed" data-theme-mode="light">
    
    <head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="AutoSignals">
    <meta name="Author" content="LogicLabs">
    <meta name="keywords" content="crypto signals, cryptocurrency analysis, trade automation, crypto trading, trading signals, automated trading, cryptocurrency bot, crypto strategy, crypto markets, crypto indicators, bitcoin signals, altcoin trading, blockchain trading, crypto technical analysis, trading algorithms, crypto portfolio management, crypto tools">

    <!-- TITLE -->
    <title>@ViewData["Title"]AutoSignals Trade Automation</title>

    <!-- FAVICON -->
    <link rel="icon" scr="@Url.Content("~/assets/images/brand-logos/favicon.ico")" type="image/jpeg">

        <!-- BOOTSTRAP CSS -->
	    <link  id="style" href="@Url.Content("~/assets/libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

        <!-- STYLES CSS -->
        <link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet">

        <!-- ICONS CSS -->
        <link href="@Url.Content("~/assets/CSS/icons.css")" rel="stylesheet">
        
        <partial name="~/Views/Shared/Layouts/Landing/_styles.cshtml">

        @await RenderSectionAsync("Styles", required: false)

	</head>

	<body class="landing-body">

        <!-- SWITCHER -->
        <partial name="~/Views/Shared/Layouts/Landing/_switcher.cshtml">

        <!-- END SWITCHER -->

        <!-- PAGE -->
		<div class="landing-page-wrapper">

            <!-- HEADER -->
            <partial name="~/Views/Shared/Layouts/Landing/_header.cshtml">

            <!-- END HEADER -->

            <!-- SIDEBAR -->

            <partial name="~/Views/Shared/Layouts/Landing/_sidebar.cshtml">

            <!-- END SIDEBAR -->

            <!-- MAIN-CONTENT -->

            <div class="main-content landing-main px-0">

                @RenderBody()

            </div> 
            <!-- END MAIN-CONTENT -->

            <!-- FOOTER -->
            <partial name="~/Views/Shared/Layouts/Landing/_footer.cshtml">

            <!-- END FOOTER -->

		</div>
        <!-- END PAGE-->

        <!-- SCRIPTS -->

        <partial name="~/Views/Shared/Layouts/Landing/_scripts.cshtml">

        @await RenderSectionAsync("Scripts", required: false)

        <!-- STICKY JS -->
		<script src="@Url.Content("~/assets/js/landing-sticky.js")"></script>

        <!-- LANDING JS -->
		<script src="@Url.Content("~/assets/js/landing.js")"></script>

        <!-- LANDING-MAIN JS -->
        <script src="@Url.Content("~/assets/js/landing-switcher.js")"></script>

        <!-- END SCRIPTS -->

	</body>
</html>
