@model IEnumerable<AutoSignals.Models.SignalPerformance>

@{
    ViewData["Title"] = "Index";
}

@section styles {

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/libs/swiper/swiper-bundle.min.css")">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">

}

<!-- Start::page-header -->
<div class="d-flex align-items-center justify-content-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        <nav>
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">
                        Admin
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Signals Performance</li>
            </ol>
        </nav>
        <h1 class="page-title fw-medium fs-18 mb-0">Signals Performance</h1>
    </div>
</div>
<!-- End::page-header -->
<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title flex-fill">
                    Crypto Assets
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SignalId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HighPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LowPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProfitLoss)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TakeProfitCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TakeProfitsAchieved)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AchievedTakeProfits)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SignalId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HighPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LowPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProfitLoss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TakeProfitCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TakeProfitsAchieved)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AchievedTakeProfits)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->
@section scripts {

    <!-- Jquery Cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Datatables Cdn -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <!-- Apex Charts JS -->
    <script src="@Url.Content("~/assets/libs/apexcharts/apexcharts.min.js")"></script>

    <!-- Swiper JS -->
    <script src="@Url.Content("~/assets/libs/swiper/swiper-bundle.min.js")"></script>

    <!-- Crypto Dashboard -->
    <script src="@Url.Content("~/assets/js/crypto-dashboard.js")"></script>

    <!-- Internal Datatables JS -->
    <script src="@Url.Content("~/assets/js/datatables.js")"></script>

}